.menuContainer {
  position: fixed;
  height: 100%;
  width: 192px;
  background-color: var(--white);
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 1rem;
  z-index: 1000;
  
  & .titleMenu {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--secundary-purple-500);
    margin-bottom: 1rem;
  }

  & .menuLinks {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .link {
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 500;
      padding: 8px 16px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s;
      gap: 5px;
      transition: transform 0.3s;


      & .statsIcon {
          width: 1.5rem;
          height: 1.5rem;
        }
      
        
      & .profileIcon {
          width: 1.5rem;
          height: 1.5rem;
        }

      &:hover {
        transform: scale(1.05);
        transition: transform 0.3s;
      }

    }

    & .active {
      background-color: #1b0066b9;
      color: var(--highlight-yellow-600);

    }

  }

  & .logoutContainer {
    align-self: flex-end;
    margin-right: 1.5rem;
  }

  & .logoutButton {
    position: absolute;
    margin-top: 2rem;
    width: 1.7rem;
    height: 1.7rem;
    bottom: 1.5rem;
    color: #000;
    transition: 200ms ease-in;



    

    &:hover {
      transform: scale(1.1);
      transition: 200ms ease-in;
    }
  }
}

.menuIcon {
  display: none;
}

.closeIcon {  
  display: none;
}

.overlay {
  display: none;
}

@media (max-width: 600px) {

  .titleMenu {
    margin-top: 1rem;
  }

  .menuIcon {
    display: block;
    color: var(--secundary-purple-500);
    width: 34px;
    height: 34px;
    position: relative;
    z-index: 999;
  }

  .menuIconContainer {
    display: flex;
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 34px !important;
    height: 34px !important;
    cursor: pointer;
    color: var(--secundary-purple-500);
    background: transparent;
    align-items: center;
    justify-content: center;
  }

  .link{ 
    font-size: 1.4rem !important;
    min-width: 80%;
    border-radius: 30px !important;
  }

  .menuContainer {
    display: none;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 1rem;
  }

  .menuContainerOpen {
    display: flex;
    z-index: 1000;
  }
  

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.2);
    z-index: 999;
  }
}