.reverseContainer {
  width: 100%;
  display: flex;
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: var(--primary-offwhite-500);
}

.mainContainer {
  margin-left: 192px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(94% - 542px); /* 192px do menu e 350px do rightboard */
  height: 100%;
  padding: 24px;
  gap: 2rem;
  overflow-y: scroll;
  align-items: center;
  justify-content: center;
}

.profileContainer {
  
  border-radius: 10px;
  width: 90%;
  height: fit-content;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--white);

  & .contentContainer {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 10px;
    border: 1px dashed var(--highlight-black-800);
    border-radius: 10px;

    & .topRow {
      width: 95%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;

      & .title {
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--highlight-black-700);
      }

      & .edit {
        font-size: 1.8rem;
        color: var(--highlight-black-700);
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
          color: var(--highlight-black-800);
        }
      }
    }
    & .personalDataContainer {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 95%;

      & .dataRow {
        display: flex;
        flex-direction: row;
        gap: 0.2rem;
        align-items: center;

        & .label {
          font-size: 1rem;
          font-weight: 600;
          color: var(--highlight-black-700);
        }

        & .value {
          font-size: 1rem;
          font-weight: 400;
          color: var(--highlight-black-800);
        }
      }
    }
  }

  & .profileInfoTop {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: var(--highlight-black-700);

    & .profileDiv {
      width: 48px;
      width: 48px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: var(--secundary-purple-500);

      & .profileIcon {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        padding: 3px;
        object-fit: cover;
      }
    }
  }

  & .textDivision {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;

    & .name {
      font-size: 1rem;
      font-weight: 700;
      color: var(--highlight-black-500);
    }

    & .email {
      font-size: 0.8rem;
      font-weight: 400;
      color: var(--highlight-black-700);
    }
  }
}

.mainContainer::-webkit-scrollbar {
  display: none;
}

.dashboardContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 95%;
  min-width: 95%;
  height: 220px;
  background-color: var(--secundary-purple-500);
  border-radius: 8px;
}

.imageDashboard {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titleExercices {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--highlight-black-500);
  width: calc(100% - 5%);
}

.graphsWrap {
  width: calc(100% - 5%);
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}

.graphContainer {
  padding: 1rem 1.5rem;
  width: fit-content;
  width: 45%;
  min-width: 400px;
  min-height: 350px;
  background-color: var(--white);
  border-radius: 10px;

  & .title {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--highlight-black-500);
  }

  & .subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: var(--highlight-black-700);
  }
}

.reverseContainer {
  display: flex;
}

@media (max-width: 600px) {
  .mainContainer {
    margin-left: 0;
    width: calc(100% - 1rem);
    padding-inline: 1rem;
  }

  .statusContainer {
    flex-direction: column;
    height: fit-content !important;
    padding-bottom: 2rem;
  }

  .dashboardContainer {
    display: none;
  }

  .reverseContainer {
    display: flex;
    flex-direction: column-reverse !important;
  }

  .graphsWrap {
    width: 100% !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
}
