.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 3%;

  & .logo {
    display: flex;
    flex-direction: row;
    gap: 2px;
    height: 80px;
    font-size: 24px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    gap: 10px;

    & .logoText {
      font-weight: 500;
      color: var(--secundary-purple-500);
      word-wrap: break-word;
      font-family: var(--font-montserrat);
      line-height: 1.2;
    }

    & .logoImg {
      height: 100%;
    }
    
  }

  & .navLinks {
    display: flex;
    gap: 15px;
    font-size: 1rem;
  }

  & .navButtons {
    display: flex;
    gap: 10px;

    & .button{
      border: 1px solid #000;
      padding: 8px 16px;
      border-radius: 10px;
      font-weight: 500;
      text-decoration: none;
      transition: 0.3s ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        transition: 0.3s ease;
      }
    }

    & .login {
      border: 1px solid var(--secundary-purple-500);
      color: var(--secundary-purple-500);
    }

    & .signup {
      background-color: var(--secundary-purple-500);
      color: var(--white);
    }

  }

  & .menuIcon {
    display: none;
  }

}

@media (max-width: 600px) {

  .navbar {
    padding: 12px 5%;
  }

  .navLinks {
    display: none !important;
  }

  .logoImg {
    display: none !important;
  }

  .menuIcon {
    display: none !important;
    width: 32px;
    height: 32px;
    color: var(--secundary-purple-500);
    cursor: pointer;
  }
}