
.calendarBoard {
  border-radius: 18px;
  background: var(--white);
  box-shadow: 0 2px 16px 0 rgba(60,32,145,0.08);
  width: 100%;
  margin: 0 auto;
}

.calendarContainer {
  padding: 1rem;
  width: 100%;
  max-width: 100%;
  display: flex;
  height: fit-content;
  justify-content: space-around;
}

.calendarTitle {
  display: none;
  gap: 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--secundary-purple-500);
  height: fit-content;
  justify-self: center;
  align-self: center;
  writing-mode: sideways-lr;
  text-orientation: mixed;
  width: auto;
  height: fit-content;
  margin-bottom: -10px;
}

.iconCalendar {
  width: 38px;
  transform: rotate(-90deg);
  height: 38px;
  color: var(--secundary-purple-500);
  align-self: center;
}

.calendarContainer .rdp-day {
  pointer-events: none;
  cursor: default;
}

.streakDay {
  background: var(--secundary-purple-500) !important;
  color: var(--primary-offwhite-500) !important;
  border-radius: 10px !important;
  font-weight: 400;
  outline: 4px solid var(--white) !important;
  outline-offset: -3.5px !important;
}

.todayDay {
  outline: 2px dashed var(--secundary-purple-600) !important;
  border-radius: 10px !important;
  outline-offset: -3.5px !important;
}

.weekendDay {
  color: var(--secundary-purple-600) !important;
  font-weight: 600;
}

.disabledDay {
  opacity: 1 !important;
}

.outsideDay {
  font-weight: 400;
  opacity: 0.5 !important;
}