
.streakContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 170px;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 8px #00000010;
    gap: 1rem;
}

.streakCounterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.streakIcon {
    width: 5.5rem;
    height: 5.5rem;
    color: var(--highlight-yellow-500);
}

.hole {
    position: relative;
    margin-top: -3.2rem;
    width: 2.1rem;
    height: 2.9rem;
    background-color: var(--highlight-yellow-500);
    z-index: 2;
}

.streakCounter {
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--secundary-purple-500);
    margin-top: -58%;
    z-index: 3;
}

.streakTexts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 190px;
} 

.streakTitle {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--highlight-black-500);
}

.streakSubtitle {
    font-size: 1rem;
    color: var(--highlight-black-500);
}
